<%= form_with(model: @task, local: true ) do |form| %>
<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul id="form_task">
  <li>
      <h3><%= t('view.tasks.title') %></h3>
      <%= form.text_field :title, {id: "form_title"} %>
  </li>
  <li>
      <h3><%= t('view.tasks.deadline') %></h3>
      <%= form.text_field :deadline, {id: "form_deadline"} %>
  </li>
  <li>
      <h3><%= t('view.tasks.comment') %></h3>
      <%= form.text_area :comment, {id: "form_comment"} %>
  </li>
  <li>
      <h3><%= t('view.tasks.priority') %></h3>
      <%= form.select :priority, Task.priority_ids.keys.to_a, {} %>
  </li>
  <%= form.fields_for :statuses  do |i| %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <li>
      <h3><%= t('view.tasks.state') %></h3>
      <% if @state.present? %>
      <%= i.hidden_field :statuses, :value => @state.id %>
      <% end %>
      <%= i.select :state_id, @state_list %>
  </li>
  <% end %>
</ul>
  <%= form.submit t('view.tasks.link.upload') %>
<% end %>
<%= link_to t('view.tasks.link.index'), tasks_path %>
<script>
  $( function(){
    $( "#form_deadline" ).datetimepicker();
  });
</script>
