<%= form_with(model: @task, local: true ) do |form| %>
<ul>
  <li>
      <h3>タスク名</h3>
      <%= form.text_field :title %>
  </li>
  <li>
      <h3>タスク詳細</h3>
      <%= form.text_area :comment %>
  </li>
</ul>
  <%= form.submit "登録" %>
<% end %>
<%= link_to "一覧に戻る", tasks_path %>
