<h1><%= t('view.tasks.title_show') %></h1>
<ul id="view_task">
  <li>
      <h3><%= t('view.tasks.title') %></h3>
      <%= @task.title %>
  </li>
  <li>
      <h3><%= t('view.tasks.deadline') %></h3>
      <%= @task.deadline %>
  </li>
  <li>
      <h3><%= t('view.tasks.comment') %></h3>
      <%= @task.status_state[0].progress %>
  </li>
  <li>
      <h3><%= t('view.tasks.priority') %></h3>
      <%= @prioritys[@task.priority] %>
  </li>
  <li>
      <h3><%= t('view.tasks.comment') %></h3>
      <%= @task.comment %>
  </li>
</ul>
<%= link_to t('view.tasks.link.edit'), edit_task_path(@task.id) %>
<%= link_to t('view.tasks.link.delete'), task_path(@task.id), method: :delete %>
<%= link_to t('view.tasks.link.index'), tasks_path %>
